<div class="container">

  <h2 class="heading">View Blog</h2>

  <div class="blog-info">
    <label for="name" class="label">Name:</label>
    <p id="name" class="value">{{ blog.name }}</p>
  </div>

  <div class="blog-info">
    <label for="author" class="label">Author:</label>
    <p id="author" class="value">{{ blog.author }}</p>
  </div>

  <div class="blog-info">
    <label for="description" class="label">Description:</label>
    <p id="description" class="value">{{ blog.description }}</p>
  </div>

</div>